.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;

  grid-column: 2/3;
}

.menuItem {
  display: grid;
  white-space: nowrap;
  align-items: center;
  grid-template-columns: 1fr 0.1fr 1fr;
  gap: 8px;

  &Ellipse {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &HotKey {
    color: #777777;
  }
}